.underline-on-hover:hover {
    text-decoration: underline;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
} 

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.formthree .form-control {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 13px;
    border-bottom: 1px solid #d3d3d3;
    background: transparent;
}

.top {
    position:absolute;
    background: rgb(220 148 71);
    width:85%;
    height: 25%;
    left:0;
    top:0;
    opacity: .8;
    -webkit-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    -o-transition: opacity 2s ease-out;
    transition: opacity 2s ease-out;
}

.botleft {
    position:absolute;
    background:rgb(106 153 78);
    text-align:center;
    width:85%;
    height: 25%;
    left:0;
    bottom:0;
    opacity: .8;
    -webkit-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    -o-transition: opacity 2s ease-out;
    transition: opacity 2s ease-out;
}

.botright {
    position:absolute;
    background: rgb(35 116 171);
    width:15%;
    right: 0; 
    margin-left:-50px;
    bottom:25%;
    height: 50%;
    opacity: .8;
    -webkit-transition: opacity 2s ease-out;
    -moz-transition: opacity 2s ease-out;
    -o-transition: opacity 2s ease-out;
    transition: opacity 2s ease-out;
}

.imageWrapper {
    width: 360px;
    height: 480px;
    position: relative;
}

.top:hover, .botleft:hover, .botright:hover {
    opacity: .3;
}